* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    text-align: center;
}

header {
    border-bottom: solid rgb(227, 227, 227) 2px;
    background-color: rgb(251, 224, 183);
    padding-top: 20px;
    color: lightcoral;
}

nav {
    text-align: right;
    /* background-color: lightcoral; */
}

.container {
    background-image: url('../assets/vegetables.jpg');
    /* position: relative; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0 auto;

}

.outerBox {
    position: relative;
    padding-top: 240px;
    padding-left: 350px;
    h3 {
        font-style: italic;
    }
}

#login_button, #signup_button, #logout_button, #go_button {
    font-size: 13px;
    background-color: lightcoral;
    color: white;
    border-color: lightcoral;
    border: solid 1px lightcoral;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: none;
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

#login_button:hover {
    background-color: white;
    color: lightcoral;
}

#signup_button:hover {
    background-color: white;
    color: lightcoral;
}



.login_outerbox {
    border: solid lightgrey 1px;
    border-radius: 10px;
    padding-bottom: 30px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-top: 100px;
}

#login_box, #signup_box {
    margin-top: 20px;
    button {
        margin-top: 30px;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
}


.seasonal_container {
    display: flex;
    justify-content: center
}

.vegetable_container,
.fruit_container {
    margin: 0 50px;
    
}

ul {
    list-style-type: none;
    text-align: left;
}

.seasonal_container li a {
    list-style-type: none;
    text-decoration: none;
    color: lightcoral;
}

.seasonal_container li a:visited {
    color: darkgrey;
}

.vegetable_container h2 {
    color: lightslategray;
}

.fruit_container h2 {
    color: lightslategrey
}

#seasonal-vegetables,
#seasonal-fruits {
    background-color: rgb(251, 224, 183);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#month-buttons button {
    background-color: #f0f0f0;
    border: solid lightgrey;
    border-radius: 10px;
    padding: 8px, 16px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

#month-buttons button.active {
    background-color: lightcoral;
    color: white;
}

.details-outerbox h2 {
    text-align: left;
    margin-left: 40px;
    font-style: italic;
    text-decoration: underline;
}

.details-container {
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    width: 100%;
}

.details_image {
    width: 300px;
    height: auto;
    margin-left: 20px;
}

.description {
    margin-left: 20px;
    text-align: left;
    font-size: 13px;
    margin-right: 20px;
    background-color:rgb(251, 224, 183, 0.7);
    padding: 5px;
}

.nutrients {
    text-align: left;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 30px;
}

.recipe-outerbox {
    margin-top: 50px;
    h2 {
        text-align: left;
        margin-left: 40px;
        font-style: italic;
        text-decoration: underline;
    }
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between;
    padding: 0;
    list-style-type: none; */
}

.recipe-card {
    width: calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    background-color:rgb(251, 224, 183, 0.7);
    padding-top: 10px;
    padding-bottom: 10px;
}

.recipe-card img {
    width: 80%;
    height: auto;
}

.recipe-card a {
    display: block;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}